<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Réference</th><th>Client</th> <th>Date de réservation</th>
        </tr>
        </thead>
        <tbody *ngFor="let reservation of reservations">
        <tr>
          <td>{{reservation.reference}}</td>
          <td>{{reservation.client.nom}}</td>
          <td>{{reservation.dateReservation}}</td>
          <td><a class="btn btn-success"(click)="valideReservation(reference)">Valider</a></td>
          <td><a class="btn btn-danger" (click)="supprimerReservation(reservation)">Annuler</a></td>
          <td><a class="btn btn-success" [routerLink]="['/reservation', reservation.reference]">Voir les details</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
