<div class="container">
    <div>
        <h2>Ajouter un Livre :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Réference livre</label>
            <input type="text" [(ngModel)]="newLivre.idLivre" name="idLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Titre du livre</label>
            <input type="text" [(ngModel)]="newLivre.titre" name="titreLivre" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Genre du livre</label>
            <input type="text" [(ngModel)]="newLivre.genre" name="genreLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Quantité </label>
            <input type="number" [(ngModel)]="newLivre.quantite" name="quantiteLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Auteur du livre </label>
            <input type="text" [(ngModel)]="newLivre.auteur" name="auteurLivre" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addLivre()" class="btn btn-success">Ajouter</button>
            <div>
                <h3>{{ message }}</h3>
            </div>
        </div>
    </form>
</div>