<div class="container">
    <div><br>
        <h2>Show-reservation</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2"><br>
            <label>Réference reservation</label>
            <input readonly type="text" [(ngModel)]="currentReservation.reference" name="reference" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Réference</th><th>auteur</th><th>Titre</th><th>Genre</th>
            </tr>
            </thead>
            <tbody *ngFor="let livre of currentReservation.livres">
            <tr>
              <td>{{livre.reference}}</td>
              <td>{{livre.auteur}}</td>
              <td>{{livre.titre}}</td>
              <td>{{livre.genre}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>nom de client</label>
            <input type="text" [(ngModel)]="currentReservation.client.nom" name="nom du client" class="form-control">
          <label>Prénom du client</label>
          <input type="text" [(ngModel)]="currentReservation.client.prenom" name="prenom du client" class="form-control">
          <label>Numéro téléphone du client</label>
            <input type="text" [(ngModel)]="currentReservation.client.numeroTel" name="Numero téléphone" class="form-control">
          <label>Adresse mail du client</label>
            <input type="text" [(ngModel)]="currentReservation.client.email" name="Adresse mail du client" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>date reservation </label>
            <input type="text" [(ngModel)]="currentReservation.dateReservation" name="dateReservation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>date retrait </label>
            <input type="text" [(ngModel)]="currentReservation.dateRetrait" name="dateRetrait" class="form-control">
        </div>
    </form>
</div>
