<div class="accueil">

  <div class="tableauReservationsUrgentes">

    <h2>Reservations du jour</h2>

    <div class="mat-elevation-z8 tabReservationsData">

      <div class="loading-shadeReservations"
           *ngIf="isLoadingResultsReservations || isRateLimitReachedReservations">
        <mat-spinner *ngIf="isLoadingResultsReservations"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReachedReservations">
          Une erreur est survenue, actualisez dans 1 minute
        </div>
      </div>

      <div class="table-container">
        <table aria-label="Reservation du jour" mat-table [dataSource]="reservations">
          <!-- Reference Column -->
          <ng-container matColumnDef="reference">
            <th scope="col" mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
          </ng-container>

          <!-- Reservation Date Column -->
          <ng-container matColumnDef="dateReservation">
            <th scope="col" mat-header-cell *matHeaderCellDef> Date de reservation </th>
            <td mat-cell *matCellDef="let row"> {{row.dateReservation}} </td>
          </ng-container>

          <!-- Client Name Column -->
          <ng-container matColumnDef="name">
            <th scope="col" mat-header-cell *matHeaderCellDef> Nom du client </th>
            <td mat-cell *matCellDef="let row"> {{row.client.nom}} </td>
          </ng-container>

          <!-- Details Column -->
          <ng-container matColumnDef="details">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Voir les détails" mat-mini-fab color="white" aria-label="Details"
                        [routerLink]="['/reservations', row.reference]"
                        [matTooltipShowDelay]="500">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <!-- Preparer Column -->
          <ng-container matColumnDef="preparer">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Préparer la reservation" mat-mini-fab color="preparation" aria-label="Preparer"
                        [disabled]="row.enPreparation"
                        (click)="preparationReservation(row.reference)"
                        [matTooltipShowDelay]="500">
                  <mat-icon>hourglass_empty</mat-icon>
                </button>
              </div>
            </td>
            <td></td>
          </ng-container>

          <!-- Valider Column -->
          <ng-container matColumnDef="valider">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Valider la reservation" mat-mini-fab color="success" aria-label="Valider"
                        (click)="validateReservation(row.reference)"
                        [matTooltipShowDelay]="500">
                  <mat-icon>check</mat-icon>
                </button>
              </div>
            </td>
            <td></td>
          </ng-container>

          <tr class="rowsReservations" mat-header-row *matHeaderRowDef="displayedColumnsReservations; sticky: true"></tr>
          <tr class="rowsReservations" mat-row *matRowDef="let row; columns: displayedColumnsReservations;"></tr>
        </table>
      </div>
 [routerLink]="['/reservations', row.reference]"
      <mat-paginator class="paginator"
                     [pageIndex]="reservationCurrentPage"
                     [length]="reservationResultsLength"
                     [pageSizeOptions]="[10, 25, 50, 100]"
                     (page)="getPaginatorReservationsData($event)">
      </mat-paginator>
    </div>
  </div>

  <div class="tableauCommandesUrgentes">

    <h2>Commandes à passer</h2>

    <div class="mat-elevation-z8 tabLivresData">

      <div class="loading-shadeCommandes"
           *ngIf="isLoadingResultsCommandes || isRateLimitReachedCommandes">
        <mat-spinner *ngIf="isLoadingResultsCommandes"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReachedCommandes">
          Une erreur est survenue, actualisez dans 1 minute
        </div>
      </div>

      <div class="table-container">
        <table aria-label="Commandes urgentes" mat-table [dataSource]="livres">
          <!-- Reference Column -->
          <ng-container matColumnDef="reference">
            <th scope="col" mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
          </ng-container>

          <!-- Titre Column -->
          <ng-container matColumnDef="titre">
            <th scope="col" mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let row"> {{row.titre}} </td>
          </ng-container>

          <!-- Nombre demandes Column -->
          <ng-container matColumnDef="demandes">
            <th scope="col" mat-header-cell *matHeaderCellDef> Demandes </th>
            <td mat-cell *matCellDef="let row"> {{row.nombreDemandes}} </td>
          </ng-container>

          <!-- Quantite Column -->
          <ng-container matColumnDef="quantite">
            <th scope="col" mat-header-cell *matHeaderCellDef> Quantite disponible </th>
            <td mat-cell *matCellDef="let row"> {{row.quantite}} </td>
          </ng-container>

          <!-- Details Column -->
          <ng-container matColumnDef="details">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Voir les détails" mat-mini-fab color="white" aria-label="Details"
                        [routerLink]="['/livres', row.reference]"
                        [matTooltipShowDelay]="500">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </td>
            <td></td>
          </ng-container>

          <!-- Preparer Column -->
          <ng-container matColumnDef="preparer">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Préparer la commande" mat-mini-fab color="preparation" aria-label="Preparer"
                        [disabled]="row.enPreparation"
                        (click)="preparationCommande(row.reference)"
                        [matTooltipShowDelay]="500">
                  <mat-icon>hourglass_empty</mat-icon>
                </button>
              </div>
            </td>
            <td></td>
          </ng-container>

          <!-- Valider Column -->
          <ng-container matColumnDef="valider">
            <th class="buttonColumn" scope="col" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div class="button-container">
                <button matTooltip="Valider la commande" mat-mini-fab color="success" aria-label="Valider"
                        (click)="validateCommande(row.reference)"
                        [matTooltipShowDelay]="500">
                  <mat-icon>check</mat-icon>
                </button>
              </div>
            </td>
            <td></td>
          </ng-container>

          <tr class="rowsLivres" mat-header-row *matHeaderRowDef="displayedColumnsLivres; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsLivres;"></tr>
        </table>
      </div>

      <mat-paginator class="paginator"
                     [pageIndex]="livreCurrentPage"
                     [length]="livreResultsLength"
                     [pageSizeOptions]="[10, 25, 50, 100]"
                     (page)="getPaginatorLivresData($event)">

      </mat-paginator>
    </div>
  </div>
</div>
