.livres {
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 125px;
  right: 0;
}

.tableauLivres {
  width: 80%;
  height: 483px;
  margin-left: 10%;
  margin-right: 10%;
}

.tabLivresData {
  height: 100%;
  position: relative;
}

.titreTabs {
  margin-left: 5%;
}

table {
  width: 100%;
}

.table-container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.rowsLivres {
  width: 20%;
}

.paginator {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
               0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                0px 15px 14px 2px rgba(0, 0, 0, 0.12);
}

.loading-shade {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
  padding-left: 20px;
}

.button-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.buttonColumn {
  width: 50px;
}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-preparation {
    background-color: #007bff;
    color: #fff;
}

.referenceRow {
  width: 10%;
}

.auteurRow {
  width: 30%;
}

.titreRow {
  width: 30%;
}

.genreRow {
  width: 20%;
}

.quantiteRow {
  width: 10%;
}

.buttonRow {
  width: 5%;
}

.mat-ajouter {
    color: #007bff;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mat-supprimer {
    background-color: #f44336;
}

